.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*this is styling for button created in components. 
you use .className with class name component used.*/
.ExampleButton {
  width: 100%;
  height: 15%;
  color: crimson;
  background-color: cornflowerblue;
}

.backgroundText {
  opacity: '40%';
}


.WholeScreen {
    display: flex;
    flex-direction: column;
    height: calc(100vh);/* - 52px);*/
    width: 100%;
    align-items: center;
}

.ZipCodeScreenContainer {
  display: flex;
  flex-direction: column;
  min-height: 440px;
  max-height: 500px;
  height: 70%;
  margin-top: 6%;
  border-radius: 4%;
  background-color: rgba(173, 183, 185, 0.935);
  align-items: center;
}

.PoliticallLogo {
  width: 60%;
  height: 11%;
}

.ZipCodeInput {
  margin-top: 5%;
  border-width: 1px;
  border-radius: 10px;
  width: 45%;
  height: 3%;
  padding: 10px;
  outline-width: 0;
  font-size: 100%;
}

.submitButton {
  margin-top: 10%;
  border-width: 1px;
  border-radius: 10px;
  min-height: 30px;
  max-height: 50px;
  width: 45%;
  height: 40px;
  outline-width: 0;
  align-content: center;
  background-color: rgb(123, 144, 165);
}

.enterZipCodeText {
  margin-top: 15%;
}

.SkipText {
  margin-top: 35%;
}

.PoliticianCardContainer {
  width: 75%;
  height: 100%;
  background-color: grey;
}

.PoliticianCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4%;
  background-color: lightblue;
  border-width: 0px;
  border-bottom-width: 55px;
  border-color: red;
  margin-top: 10px;
}

.AmericanFlagBackground {
  height: 100%;
  width: 100%;
}